<% layout('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;
                                                   margin-right: 30px;"><strong>Post A Job</strong></h4>
                    <form action="/employer" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="jobType">Job Title</label>
                            <input class="form-control" type="text" id="jobType" name="jobType" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="description">Description</label>
                            <textarea class="form-control" name="description" id="description" cols="30" rows="3" required></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="location">Location</label>
                            <input class="form-control" type="text" id="location" name="location" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="salary">Salary</label>
                            <input class="form-control" type="text" id="salary" name="salary" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>